<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <img src="https://cdn-icons-png.flaticon.com/128/8133/8133847.png" alt="imageguy" id="o-logo">
        <h1 class="bg-gradient-to-r from-purple-600 via-black-500 to-pink-400 inline-block text-transparent bg-clip-text" id="my-name-text">OBAFEMI OPEYEMI</h1>
      </a>
      <nav class="md:ml-auto mr-20 flex-wrap items-center text-base justify-center" >
        <a class="mr-10 hover:text-white" id="resume-text" href="https://drive.google.com/file/d/1LZUIqaM5dOCyiPl_P1ov2tNU4msKpEwa/view">RESUME</a>
        <a class="mr-15 hover:text-white" id="contact-text" href="#contact">CONTACT</a>
      </nav>
    
    </div>
  </header>