<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-5 md:mb-0 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white" id="name-text"><b>Hi, I'm Obafemi Opeyemi</b> </h1>
        <br>
        <p class="mb-8 leading-relaxed" id="about-me-text">I am a passionate Frontend Developer with a knack for creating dynamic and responsive web applications. With a strong foundation in HTML, CSS, and JavaScript and and Angular, I specialize in turning complex problems into elegant, user-friendly solutions. I thrive on collaboration and continuous learning, always staying up-to-date with the latest industry trends and technologies. When I'm not coding, you can find me exploring new design patterns or contributing to open-source projects. Let's build something amazing together!</p>
        
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="hero" src="assets/my-image.jpg" id="big-image">
      </div>

    </div>  

    <section class="text-gray-400 body-font bg-gray-900">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="text-lg text-purple-400 tracking-widest font-large title-font mb-1" id="my-project-text"><b>MY PROJECTS</b></h1>
        
        <br><br>
        <p class="lg:w-3/3 mx-auto leading-relaxed text-base" id="about-me-text" id = "project-text">Welcome to my portfolio of projects! Here, you’ll find a collection of my work that showcases my skills, creativity, and passion for frontend development. Each project reflects my commitment to crafting intuitive and visually appealing user experiences. Dive in and explore the diverse range of applications and websites I’ve built, demonstrating my ability to bring ideas to life through code.</p>
      </div>
      <div class="flex flex-wrap">
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2" >To-Do List Application</h2><br>
          <p class="leading-relaxed text-base mb-4" class="projects-class">A simple and efficient to-do list application designed to help users organize and prioritize their tasks. Developed with HTML, CSS, and JavaScript, it features a clean interface, drag-and-drop functionality, and local storage to keep track of tasks..</p><br>
          <a class="text-purple-400 inline-flex items-center" href="https://todo-list-javascripto.vercel.app/">Open To-Do List Application
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Weather Application</h2><br>
          <p class="leading-relaxed text-base mb-4" class="projects-class">A sleek and intuitive weather application that provides real-time weather updates, forecasts, and alerts for any location. Built with HTML, CSS, and JavaScript, it features responsive design and seamless API integration for accurate weather data.</p><br>
          <a class="text-purple-400 inline-flex items-center" href="https://weather-app-o.vercel.app/">Open Weather Application
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Appointment Application</h2><br>
          <p class="leading-relaxed text-base mb-4" class="projects-class">An Angular-based appointment scheduling application that streamlines booking and managing appointments. Featuring a user-friendly interface, real-time updates, and calendar integration, this app ensures efficient scheduling and organization for users.</p><br>
          <a class="text-purple-400 inline-flex items-center" href="https://appointment-appp.vercel.app/">Open Appointment App
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
        <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-800">
          <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2" >Digital Card </h2><br>
          <p class="leading-relaxed text-base mb-4" class="projects-class">A dynamic and interactive digital card built with Angular and styled using Tailwind CSS. Designed to showcase personal or business information stylishly, this card features smooth animations, responsive design, and customizable components, offering a modern alternative to traditional business cards.

          </p><br>
          <a class="text-purple-400 inline-flex items-center" href="https://opeyemi-digital-card.vercel.app/">Open Digital Card
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <button class="flex mx-auto mt-16 text-white bg-purple-500 border-0 py-2 px-8 focus:outline-none hover:bg-purple-600 rounded text-lg"><a href="https://github.com/debbie459">See More Projects</a></button>
    </div>
  </section>
  </section>